.header2 {
  background: #fcfcfc;
  color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  a {
    text-decoration: none;
    color: #2c2952;
    font-weight: 500;
    &:hover{
      color: #e63b49;
    }
  }
  &__collections-nav{
    margin-bottom: 0;
    padding-left: 0;
    a {
      padding-right: 20px;
      display: inline-block;
    }
  }
  &__collection-link{
    display: inline-block;
    position: relative;
    transition: all .3s ease-in-out;
    
    .collection-link__sub-links{
      visibility: hidden;
      opacity: 0;
      background: white;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
      position: absolute;
      padding: 20px 0;
      min-width: 150px;
      top: 20px;
      left: 0;
      
      a{
        color: #2c2952 ;
        font-size: .9rem;
        display: block;
        padding: 10px 20px;  
        &:hover{
          color: red;
        }
      }
    }
    &:hover{
      
      .collection-link__sub-links{
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__logo{
    a{
      font-size: 2rem;
      font-family: 'Bebas Neue', cursive;
    }
  }
}
